# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.ipch
Builds/VisualStudio2022/x64/Debug/App/DeepDark.9641405C.tlog/CL.13864.write.1.tlog
Builds/VisualStudio2022/x64/Debug/App/DeepDark.9641405C.tlog/CL.command.1.tlog
Builds/VisualStudio2022/x64/Debug/App/DeepDark.9641405C.tlog/CL.read.1.tlog
Builds/VisualStudio2022/x64/Debug/App/DeepDark.9641405C.tlog/DeepDarkCave2_App.lastbuildstate
Builds/VisualStudio2022/x64/Debug/App/DeepDark.9641405C.tlog/link.command.1.tlog
Builds/VisualStudio2022/x64/Debug/App/DeepDark.9641405C.tlog/link.read.1.tlog
Builds/VisualStudio2022/x64/Debug/App/DeepDark.9641405C.tlog/link.write.1.tlog
Builds/VisualStudio2022/x64/Debug/App/DeepDark.9641405C.tlog/rc.command.1.tlog
Builds/VisualStudio2022/x64/Debug/App/DeepDark.9641405C.tlog/rc.read.1.tlog
Builds/VisualStudio2022/x64/Debug/App/DeepDark.9641405C.tlog/rc.write.1.tlog
Builds/VisualStudio2022/x64/Debug/App/DeepDarkCave2.Build.CppClean.log
Builds/VisualStudio2022/x64/Debug/App/DeepDarkCave2.exe.recipe
Builds/VisualStudio2022/x64/Debug/App/DeepDarkCave2.ilk
Builds/VisualStudio2022/x64/Debug/App/DeepDarkCave2.pdb
Builds/VisualStudio2022/x64/Debug/App/DeepDarkCave2_App.log
Builds/VisualStudio2022/x64/Debug/App/DeepDarkCave2_App.vcxproj.FileListAbsolute.txt
*.vsidx
Builds/VisualStudio2022/.vs/DeepDarkCave2/v17/fileList.bin
Builds/VisualStudio2022/.vs/DeepDarkCave2/v17/Browse.VC.opendb
Builds/VisualStudio2022/.vs/DeepDarkCave2/v17/Browse.VC.db-wal
Builds/VisualStudio2022/.vs/DeepDarkCave2/v17/Browse.VC.db-shm
Builds/VisualStudio2022/.vs/DeepDarkCave2/v17/Browse.VC.db
Builds/VisualStudio2022/.vs/DeepDarkCave2/v17/.suo
Builds/VisualStudio2022/.vs/DeepDarkCave2/FileContentIndex/read.lock
